<% form_for(team_post, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
<%if is_admin?%>
 <p>
    Equipe<br />
	<%= select("team_post", "team_id", Team.all.collect {|t| [ t.name, t.id ] }, {:prompt => 'Select Team'}) %>
  </p>
<%else%>
	<%=f.hidden_field :team_id ,:value => owner_team.id%>
<%end%>
  <p>
    Titre<br />
    <%= f.text_field :title %>
  </p>
  <p>
	Photo (<%=team_post.picture.url%>)<br />
    <%= f.file_field :picture %>
  </p>
  <p>
    Description<br />
    <%= f.text_area :description , :cols=>100 , :rows=>15 %>
  </p>
  <p>
    <%= f.submit 'Enregistrer' %>
  </p>
<% end %>