<div class="ja-innerdiv clearfix" style="margin-top:-10px;">
	<img src="<%=listdetail.picture.url(:small)%>" class="img-border" style="float:left;" align="left"/>
    <div class="playerNumber"><span class="bignumber"><%=listdetail.number.to_s%></span></div>
    <h4><%=listdetail.firstname%> "<%=listdetail.nickname%>" <%=listdetail.lastname%></h4><div style="margin-top:-15px;"><%=listdetail.position%></div>
</div>
