# <% content_for :title, "Voir les détail de " + @player.firstname + " " + @player.lastname %>
<%=render :partial=>'layouts/fullpage_header'%>
<p>
  <b>Team:</b>
  <%=h @player.team_id %>
</p>

<p>
  <b>Firstname:</b>
  <%=h @player.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @player.lastname %>
</p>

<p>
  <b>Nickname:</b>
  <%=h @player.nickname %>
</p>

<p>
  <b>Number:</b>
  <%=h @player.number %>
</p>
<p>
  <b>Position:</b>
  <%=h @player.position %>
</p>

<%= link_to 'Modifier', edit_player_path(@player) %> |
<%= link_to 'Retour a la liste', players_path %>
<%=render :partial=>'layouts/fullpage_footer'%>